---
import Layout from "../layouts/Layout.astro";
import Git from '../components/Git.astro';
import Header from "../components/Header.astro";
import Initialize from "./initializing.md";
---


<Layout title="The Valley of Code : Git">
 <main>
   <Git />
	  <div class = "container">
	  <Header  top = "Git: Installing Git"  text = "Git can be installed on any operating system."/>
	  <div class = "wrap">
	  <Initialize />
	  </div>
	  </div>
 </main>
   <style>
     main{
	display : flex;
	flex-direction : row;
  }
  .container{
	width : 60%;
	display : flex;
	flex-direction : column;
	margin-left : auto;
  }
  .wrap{
	color : white;
	font-size: 16px;
	line-height : 30px;
	 margin-right : 20px;
  }

   </style>
</Layout>