---
import Layout from "../layouts/Layout.astro";
import Git from '../components/Git.astro';
import Header from "../components/Header.astro";
import Repo from "./repo.md";
---

<Layout title="The Valley of Code : Git">
  <main>
    <Git />
    <div class="container">
      <Header top="Git: Initialize a repository" text="Once Git is installed on your system, you are able to access it using the command line by typing git." />
      <div class="wrap">
        <Repo />
      </div>
    </div>
  </main>
  <style>
    main {
      display: flex;
      flex-direction: row;
    }

    .container {
      width: 60%;
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }

    .wrap {
      color: white;
      font-size: 16px;
      line-height: 30px;
      margin-right: 20px;
    }
    @media (max-width: 768px) {
    main {
      display : flex;
      justify-content : center;
      align-items : center;
      flex-direction: column;

    }
    .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
  
  </style>
</Layout>
